<div class="section works">
  <h2 class="heading">Works</h2>
  <div class="works-wrapper row">
      <div class="work-box col-md-4">
        <div class="text-center">
          <%= link_to admin_talents_path, class: "work-link text-decoration-none" do %>
            <i class="work-icon fab fa-instagram fa-8x"></i>
          <% end %>
        </div>
      </div>

      <div class="work-box col-md-4">
        <div class="text-center">
          <i class="work-icon fab fa-twitter fa-8x "></i>
        </div>
      </div>

      <div class="work-box col-md-4">
        <div class="text-center">
          <i class="work-icon fab fa-amazon fa-8x "></i>
        </div>
      </div>
  </div>
</div>
