<div class="container">
  <h1>Admin::Home#index</h1>
  <div class="row">
    <div class="col-md">
      コンテンツA
    </div>
    <div class="col-md">
      コンテンツB
    </div>
    <div class="col-md">
      コンテンツC
    </div>
  </div>
</div>
