<br />
<div class="row">
  <div class="section">
    <%= link_to image_tag("instagram_icon.png", width: '150', class: "icon"), admin_talents_path %>
    <div class="section-title"><h2>Instagram</h2></div>
  </div>
</div>
