<p id="notice"><%= notice %></p>

<div class="row">
  <h1 class="col-md-11">Index</h1>
  <div class="col-md-1">
    <%= link_to image_tag("admin_new", width: '30', class: "icon"), new_admin_talent_path %>
  </div>
</div>

<% @talents.each do |talent| %>
  <div class="row">
    <div class="col-md-2">
      <% if talent.instagram_account.image? %>
        <%= link_to image_tag(talent.instagram_account.image, :size => "100x100"), [:admin, talent] %>
      <% end %>
    </div>
    <% if talent.instagram_account.instagram_contents.count > 0 %>
      <% talent.instagram_account.instagram_contents.order(id: "DESC").limit(10).each do |instagram_content| %>
        <% if instagram_content.present? %>
          <div class="col-md-1">
            <%= image_tag "#{instagram_content.image}", :size => "100x100" %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
